# Email Configuration
# Fill in your real credentials here. This file is ignored by Git.

EMAIL_SMTP_SERVER="you_smtp_address"
EMAIL_SMTP_PORT="ssl_port"
EMAIL_SENDER="your_email@qq.com"
EMAIL_PASSWORD="your_smtp_authorization_code"
EMAIL_RECEIVER="your_receiver_email@qq.com"
